@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.swal2-popup {
  font-size: 1.6rem !important;
}

