<template>
    <div>
        <div class="col-md-6 col-xs-12">
            <div class="form-group">
                <label class="control-label">Areas</label>
                <div class="input-group" style="z-index: 9500">
                    <span class="input-group-addon"><i class="fa fa-list "></i></span>
                    <select id="area" name="area" style="width: 100% !important; "
                            class="js-states form-control bootstrap-select " v-model="areaSelect">
                        <option value="" selected="">-- Seleccionar area--</option>

                        <option v-for="area in areas" v-bind:value="area.id">
                            {{ area.name }}
                        </option>
                    </select>

                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12 hidden-xs">
            <div class="form-group">
                <label class="control-label">Proyectos</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-list "></i></span>
                    <select id="project" name="project" style="width: 100% !important; "
                            class="js-states form-control bootstrap-select">
                        <option value=""> -- Sin proyecto --</option>
                        <option v-for="project in projects" v-bind:value="project.id">
                            {{ project.name }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        props: ['area_id', 'project_id'],

        data() {
            return {
                areas: [],
                areaSelect: "",
                projects: []
            }
        },
        methods: {

            areasAll: function () {
                axios.get('/areasforuserj')
                    .then(res => {
                        this.areas = res.data;
                    });
            },
            getProjectForArea: function (area) {
                axios.get('/areas/' + area + '/projectsj')
                    .then(res => {
                        this.projects = res.data;

                    });
            }
        },
        mounted() {

            var area_id = this.area_id;
            var project_id= this.project_id;
            $(document).ready(function () {
                $("#area").empty();
                axios.get('/areasforuserj')
                    .then(res => {
                        this.areas = res.data;
                        var options = '<option value="">' + "-- Sin área --" + '</option>';
                        $.each(this.areas, function (key, value) {
                            options += '<option value=' + value.id + '>' + value.name + '</option>';

                        });
                        $('#area').append(options);

                        if(area_id !== undefined)
                        {
                            $("#area").val(area_id).change();

                        }

                    });
                if(project_id !== undefined)
                {
                    $('#project').empty();
                    axios.get('/areas/' + area_id + '/projectsj')
                        .then(res => {
                            this.projects = res.data;
                            var options = '<option value="">' + "-- Sin proyecto --" + '</option>';

                            $.each(this.projects, function (key, value) {

                                options += '<option value=' + value.id + '>' + value.name + '</option>';
                            });
                            $('#project').append(options);


                            $("#project").val(project_id).change();

                        });

                }
                $("#area").change(function () {
                    $('#project').empty();
                    axios.get('/areas/' + $("#area").val() + '/projectsj')
                        .then(res => {
                            this.projects = res.data;
                            var options = '<option value="">' + "-- Sin proyecto --" + '</option>';

                            $.each(this.projects, function (key, value) {

                                options += '<option value=' + value.id + '>' + value.name + '</option>';
                            });
                            $('#project').append(options);



                        });
                });

            });
        }
    }


</script>
