<template>

    <div v-if="show" id="desktopTest" class="btn-group show-on-hover hidden-xs">
        <button style="margin-right: -5px;"
                v-bind:style="{ backgroundColor: actstatus.color, borderColor: actstatus.color, color : 'white'}"
                type="button"
                class="btn btn-default dropdown-toggle"
                data-toggle="dropdown"
                aria-expanded="true">
            {{actstatus.name}} <i class="fa fa-chevron-circle-down"
                                  aria-hidden="true"> </i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

            <li>
                <a class="init-task-main" @click="initTask()">
                    <i class="fa fa-info"
                       aria-hidden="true"></i>
                    Informado
                </a>
            </li>
            <li>
                <a class="init-task-main" @click="replyTask()">
                    <i class="fa fa-send"
                       aria-hidden="true"></i>
                    Respondido
                </a>
            </li>
            <li>
                <a class="start-task-main" @click="processTask()">
                    <i class="fa fa-tasks"
                       aria-hidden="true"></i>
                    En proceso
                </a>
            </li>
            <li v-if="auth_finish">
                <a class="finish-task-main" @click="denegateTask()">
                    <i class="fa fa-close"
                       aria-hidden="true"></i>
                    Denegado
                </a>
            </li>
            <li v-if="auth_finish">
                <a class="finish-task-main" @click="finishTask()">
                    <i class="fa fa-flag-checkered"
                       aria-hidden="true"></i>
                    Finalizar
                </a>
            </li>

            <li v-if="auth_finish">
                <a class="ping-on" @click="pigeonholeTask()">
                    <i class="fa fa-file-archive-o"
                       aria-hidden="true"></i>
                    Archivar
                </a>
            </li>

            <li>

            </li>
        </ul>
    </div>
    <div v-else class="btn-group show-on-hover hidden-md hidden-lg hidden-sm">
        <button style="margin-right: -5px;"
                v-bind:style="{ backgroundColor: actstatus.color, borderColor: actstatus.color, color : 'white'}"
                type="button"
                class="btn btn-default btn-xs dropdown-toggle"
                data-toggle="dropdown"
                aria-expanded="true">
            {{actstatus.name}} <i class="fa fa-chevron-circle-down"
                                  aria-hidden="true"> </i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

            <li>
                <a class="init-task-main" @click="initTask()">
                    <i class="fa fa-info"
                       aria-hidden="true"></i>
                    Informado
                </a>
            </li>
            <li>
                <a class="init-task-main" @click="replyTask()">
                    <i class="fa fa-send"
                       aria-hidden="true"></i>
                    Respondido
                </a>
            </li>
            <li v-if="auth_finish">
                <a class="start-task-main" @click="processTask()">
                    <i class="fa fa-tasks"
                       aria-hidden="true"></i>
                    En proceso
                </a>
            </li>
            <li v-if="auth_finish">
                <a class="finish-task-main" @click="finishTask()">
                    <i class="fa fa-flag-checkered"
                       aria-hidden="true"></i>
                    Finalizar
                </a>
            </li>
            <li v-if="auth_finish">
                <a class="ping-on" @click="pigeonholeTask()">
                    <i class="fa fa-file-archive-o"
                       aria-hidden="true"></i>
                    Archivar
                </a>
            </li>

            <li>

            </li>
        </ul>
    </div>
</template>

<script>

    export default {
        props: ['status', 'task_id','auth_finish'],
        data() {

            return {
                show: true,

                actstatus: {"name": "", "color": ""},
            }
        },
        methods: {
            changeStatus: function () {
                var sts = JSON.parse(this.status);
                this.actstatus.name = sts.name;
                this.actstatus.color = sts.color;
                if (!$('#desktopTest').is(":visible")) {
                    this.show = false
                }
            },

            processTask: function () {
                axios.put('/subtask/process/' + this.task_id)
                    .then(res => {
                        if (res.data.status == 200) {
                            var estado = JSON.parse(res.data.estado);
                            this.actstatus.name = estado.name;
                            this.actstatus.color = estado.color;
                            swal({
                                title: "Tarea modificada!",
                                showConfirmButton: false,
                                type: 'success',
                                timer: 3000
                            });
                        }
                    });
            },
            replyTask: function () {
                axios.put('/subtask/reply/' + this.task_id)
                    .then(res => {
                        if (res.data.status == 200) {
                            var estado = JSON.parse(res.data.estado);
                            this.actstatus.name = estado.name;
                            this.actstatus.color = estado.color;
                            swal({
                                title: "Tarea modificada!",
                                showConfirmButton: false,
                                type: 'success',
                                timer: 3000
                            });
                        }
                    });
            },
            initTask: function () {
                axios.put('/subtask/init/' + this.task_id)
                    .then(res => {
                        if (res.data.status == 200) {
                            var estado = JSON.parse(res.data.estado);
                            this.actstatus.name = estado.name;
                            this.actstatus.color = estado.color;
                            swal({
                                title: "Tarea modificada!",
                                showConfirmButton: false,
                                type: 'success',
                                timer: 3000
                            });
                        }
                    });
            },
            finishTask: function () {
                axios.put('/subtask/finish/' + this.task_id)
                    .then(res => {
                        console.log(res.data);
                        if (res.data.status == 200) {
                            var estado = JSON.parse(res.data.estado);
                            this.actstatus.name = estado.name;
                            this.actstatus.color = estado.color;
                            swal({
                                title: "Tarea modificada!",
                                showConfirmButton: false,
                                type: 'success',
                                timer: 3000
                            });
                        } else if (res.data.status == 405) {
                            window.location.reload();
                        }
                    });
            },
            denegateTask: function () {
                axios.put('/subtask/denegate/' + this.task_id)
                    .then(res => {
                        if (res.data.status == 200) {
                            var estado = JSON.parse(res.data.estado);
                            this.actstatus.name = estado.name;
                            this.actstatus.color = estado.color;
                            swal({
                                title: "Tarea modificada!",
                                showConfirmButton: false,
                                type: 'success',
                                timer: 3000
                            });
                        }
                    }).catch(error => {
                    console.log('error');
                });
            },
            pigeonholeTask: function () {

                axios.get('/find/taskj/' + this.task_id).then(res => {
                    axios.get('/find/taskj/' + res.data.task_id).then(task => {
                        var url = task.data.url;
                        axios.put('/task/pigeonhole/' + this.task_id)
                            .then(res => {
                                swal({
                                    title: "Tarea archiva!",
                                    confirmButtonText: "Ok",
                                    type: 'success'
                                }, function (isConfirm) {
                                    if (isConfirm) {
                                        window.location.href = url;

                                    }
                                });

                            });
                    });

                })


            }
        },
        mounted() {
            this.changeStatus();
        }
    }


</script>
