<template>

    <div>
        <div class="form overflow-h">
            <h3>Respuestas ({{comments.length}})</h3>
            <form v-on:submit.prevent="storeComment" id="frmCreateComment" role="form" method="post">
                <div class="form-group">
                    <input type="hidden" :value="event_id" name="id_event">

                    <textarea name="comment" id="summernote" v-model="comment" cols="30" rows="1"
                              class="form-control summernote "
                              placeholder="Escribir un comentario..."></textarea>
                    <button data-toggle="tooltip" data-placement="top" title="Enviar" type="submit"
                            class="btn btn-default">
                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                    </button>
                </div>

            </form>
        </div>

        <div class="well-sm" style="padding: 0 !important;background-color: #e8e8e8;margin-bottom: 5px;" v-if="comments"
             v-for="(c,index) in comments">
            <div class="row">
                <div class="col-md-10 col-xs-8 summer" style="">
                    <ul style="list-style-type: none;">
                        <li><b>{{c.user.name}} &nbsp; &nbsp;</b>
                            <i class="fa fa-fw fa-calendar "></i>
                            {{c.created_at}}
                        </li>
                        <li>
                            <div class="pull-left" v-if="editIndex != index">
                                <p v-html="c.comment"></p>
                            </div>
                            <div v-else>
                            <textarea name="comment" id="commentedit" class="form-control summernote commentedit"
                                      v-model="commentUpdate"
                                      rows="3">{{commentUpdate}}</textarea>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2 col-xs-2" style="margin-left: -9px;">
                    <div class="btn-group form-inline" style="    margin-top: 5px;">
                        <a data-toggle="tooltip" data-placement="top" title="Editar" v-if="c.user.id == user_auth_id"
                           class="btn btn-warning" href="#"
                           @click.prevent="editComment(c, index)">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </a>

                        <!--<a data-toggle="tooltip" data-placement="top" title="Responder" href="#"-->
                        <!--@click.prevent="replyComment(index)" class="btn btn-xs btn-default">-->
                        <!--<i class="fa fa-mail-forward " aria-hidden="true"></i>-->
                        <!--</a>-->
                        <div style="display: flex;">

                            <a v-if="editIndex == index" data-toggle="tooltip" data-placement="top" title="Editar"
                               href="#"
                               @click.prevent="updateComment(c)" class="btn btn-primary">
                                <i class="fa fa-check " aria-hidden="true"></i>
                            </a>
                            <a v-if="c.user.id == user_auth_id" data-toggle="tooltip" data-placement="top" title="Eliminar" href="#"
                               @click.prevent="deleteComment(c.id)" class="btn btn-danger">
                                <i class="fa fa-trash " aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <hr>

    </div>


</template>

<script>

    export default {

        props: ['event_id', 'user_auth_id'],
        data() {
            return {
                id_event: this.event_id,
                comment: null,
                commentUpdate: null,
                comments: [],
                editIndex: null,
                replyIndex: null
            }
        },
        methods: {
            fetchcomments: function () {
                var url = '/eventsComments/' + this.id_event;
                axios.get(url)
                    .then(res => {
                        this.comments = res.data;
                    });
            },
            editComment: function (comment, index) {
                this.commentUpdate = comment.comment;
                this.editIndex = index;
                this.cargarSummernote();

            },

            storeComment() {
                if (($('.summernote').val() != null) && ($('.summernote').val().trim()).length > 0) {
                    this.comment = $('.summernote').val();
                    $(':input[type="submit"]').prop('disabled', true);
                    var url = '/eventStoreComment/' + this.id_event;
                    axios.post(url, $("#frmCreateComment").serialize()).then(res => {
                        this.comment = null;
                        $('.summernote').summernote("code", "");
                        this.fetchcomments();
                        $(':input[type="submit"]').prop('disabled', false);
                    });

                }

            },

            updateComment: function (c) {
                this.commentUpdate = $('.commentedit').val();
                if (($('.commentedit').val() != null) && ($('.commentedit').val().trim()).length > 0) {
                    axios.put('/eventUpdateComment/' + c.id, {
                        "comment": this.commentUpdate,
                    }).then(res => {
                        this.commentUpdate = null;
                        this.fetchcomments();
                        this.$nextTick(function () {
                            $('.commentedit').summernote('destroy');
                            this.editIndex = null;

                        });
                    });
                }
            },
            deleteComment: function (id) {

                axios.delete('/commentDestroy/' + id).then(res => {
                    if (res.status == 200) {
                        swal({
                            title: "Comentario eliminado!",
                            type: 'success',
                            showConfirmButton: false,
                            timer: 1500
                        });
                        this.fetchcomments();

                    } else {
                        swal({
                            title: "Ha ocurrido un error, contacte con el administrador de sistemas!",
                            type: 'error',
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                });
            },
            replyComment: function (index) {
                this.replyIndex = index;
                this.cargarSummernote();
            },

            cargarSummernote: function () {
                this.$nextTick(function () {
                    $('.commentedit').summernote({
                        height: 100,
                        lang: 'es-ES', // default: 'en-US'
                        toolbar: [
                            ['style', ['bold', 'italic', 'underline']],
                        ]
                    });

                })

            }
        },

        mounted() {
            this.fetchcomments();
            $(document).ready(function () {
                $('.summernote').summernote({
                    height: 100,
                    lang: 'es-ES', // default: 'en-US'
                    toolbar: [
                        ['style', ['bold', 'italic', 'underline']],
                    ]
                });
            });
        }
    }

</script>



