<template>
    <div class="row m-t-sm">
        <div class="col-lg-12">
            <div class="panel-body">

                <div>
                    <div class="form overflow-h">
                        <h3>Respuestas ({{comments.length}})</h3>
                        <form v-on:submit.prevent="storeComment" id="frmCreateComment" role="form" method="post"
                              enctype="multipart/form-data">
                            <div class="form-group">
                                <input type="hidden" :value="task_id" name="id_task">

                                <textarea name="comment" id="summernote" v-model="comment" :on="charge()" cols="30"
                                          rows="1"
                                          class="form-control summernote "
                                          placeholder="Escribir un comentario..."></textarea>
                                <button style="margin-top: 10px" data-toggle="tooltip" data-placement="top"
                                        title="Enviar" type="submit"
                                        class="btn btn-success pull-right">
                                    <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Enviar
                                </button>

                                <!-- Boton para adjuntar los archivos de forma multiple y que se visualice los archivos elegidos-->
                                <upload-file :data="data" :attachments="attachments"></upload-file>

                            </div>

                        </form>
                    </div>
                    <div class="feed-element" v-if="comments" v-for="(c,index) in comments">
                        <div class="media-body ">
                            <strong>{{c.user.name}}</strong>
                            <small class="text-muted">{{c.created_at}}</small>
                            <div class="well" v-if="editIndex != index">
                                <p style="font-size: 14px;" v-html="c.comment"></p>

                            </div>
                            <div v-else>
                                        <textarea name="comment" id="commentedit"
                                                  class="form-control summernote commentedit"
                                                  v-model="commentUpdate"
                                                  rows="3">{{commentUpdate}}</textarea>
                            </div>
                            <div class="actions">
                                <div class="btn-group form-inline">
                                    <a data-toggle="tooltip" data-placement="top" title="Editar"
                                       v-if="(c.user.id == user_auth_id) && (editIndex != index)"
                                       class="btn btn-xs  btn-warning" href="#"
                                       @click.prevent="editComment(c, index)">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar
                                    </a>
                                    <a v-if="editIndex == index" data-toggle="tooltip" data-placement="top"
                                       title="Responder"
                                       href="#"
                                       @click.prevent="updateComment(c)" class="btn btn-xs btn-primary">
                                        <i class="fa fa-check " aria-hidden="true"></i> Guardar
                                    </a>
                                    <a v-if="c.user.id == user_auth_id" data-toggle="tooltip"
                                       data-placement="top"
                                       title="Eliminar" href="#"
                                       @click.prevent="deleteComment(c.id)" class="btn btn-xs btn-danger">
                                        <i class="fa  fa-trash " aria-hidden="true"></i> Eliminar
                                    </a>
                                </div>
                            </div>
                            <div class="file-box" v-if="c.files" v-for="(f,index) in c.files">
                                <div class="file">
                                    <a :href="f.url">
                                        <span class="corner"></span>
                                        <div v-if="f.extension === 'image/png' || f.extension == 'image/jpeg'">
                                            <div class="image">
                                                <img class="img-fluid img-thumbnail"
                                                     :src="f.url">
                                            </div>
                                            <div class="file-name">
                                                {{f.title}}
                                                <br>
                                            </div>
                                        </div>
                                        <div v-else>
                                            <div class="image text-center">
                                                <i class="fa fa-file fa-5x"
                                                   style="padding:10px;color:black;width: 70px;height: 72px;text-align: center;"></i>

                                            </div>

                                            <div class="file-name">
                                                {{f.title}}
                                                <br>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import UploadFile from './UploadFile.vue'

    export default {

        props: ['task_id', 'user_auth_id'],
        data() {
            return {
                data: new FormData(),
                files: null,
                attachments: [],
                id_task: this.task_id,
                comment: null,
                commentUpdate: null,
                comments: [],
                editIndex: null,
                replyIndex: null
            }
        },
        components: {
            'upload-file': UploadFile,
        },
        methods: {


            fetchcomments: function () {
                var url = '/tasksComments/' + this.id_task;
                axios.get(url)
                    .then(res => {
                        this.comments = res.data;
                    });
            },
            editComment: function (comment, index) {
                this.commentUpdate = comment.comment;
                this.editIndex = index;
                this.cargarSummernote();

            },

            storeComment() {
                if ((this.comment !== null)) {
                    $(':input[type="submit"]').prop('disabled', true);
                    var url = '/taskStoreComment/' + this.id_task;
                    this.prepareFields();
                    this.data.append('comment', this.comment);
                    axios.post(url, this.data).then(res => {
                        this.comment = null;
                        $('.summernote').summernote("code", "");
                        this.fetchcomments();
                        $(':input[type="submit"]').prop('disabled', false);
                        this.resetData();
                    });
                }
            },
            charge: function () {
                this.comment = $('.summernote').val();
                this.data.append('comment', this.comment);
            },
            prepareFields() {
                if (this.attachments.length > 0) {
                    for (var i = 0; i < this.attachments.length; i++) {
                        console.log(this.attachments[i]);

                        let attachment = this.attachments[i];
                        this.data.append('attachments[]', attachment);
                    }
                }
                this.comment = $('.summernote').val();
                console.log(this.comment);

            },

            updateComment: function (c) {
                this.commentUpdate = $('.commentedit').val();
                if (($('.commentedit').val() != null) && ($('.commentedit').val().trim()).length > 0) {

                    axios.put('/taskUpdateComment/' + c.id, {
                        "comment": this.commentUpdate,
                    }).then(res => {
                        this.commentUpdate = null;
                        this.fetchcomments();
                        this.$nextTick(function () {
                            $('.commentedit').summernote('destroy');
                            this.editIndex = null;

                        });
                    });
                }
            },
            deleteComment: function (id) {

                axios.delete('/commentDestroy/' + id).then(res => {
                    if (res.status == 200) {
                        swal({
                            title: "Comentario eliminado!",
                            type: 'success',
                            showConfirmButton: false,
                            timer: 1500
                        });
                        this.fetchcomments();

                    } else {
                        swal({
                            title: "Ha ocurrido un error, contacte con el administrador de sistemas!",
                            type: 'error',
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                });
            },

            cargarSummernote: function () {
                this.$nextTick(function () {
                    $('.commentedit').summernote({
                        height: 100,
                        lang: 'es-ES', // default: 'en-US'
                        toolbar: [
                            ['style', ['bold', 'italic', 'underline', 'clear']],
                        ]
                    });

                })

            },

            resetData() {
                this.data = new FormData(); // Reset it completely
                this.attachments = [];
            },
        },

        mounted() {

            this.fetchcomments();
            $(document).ready(function () {
                $('.summernote').summernote({
                    height: 100,
                    lang: 'es-ES', // default: 'en-US'
                    toolbar: [
                        ['style', ['bold', 'italic', 'underline', 'clear',]],
                        ['picture']

                    ]
                });

            });
        }
    }

</script>



