<template xmlns="http://www.w3.org/1999/html">
    <div>
        <div class="form-group">
            <form v-on:submit.prevent="storeObservation" id="frmCreateComment" role="form" method="post">
            <textarea name="description" id="summernote" v-model="description"
                      rows="1"
                      class="form-control summernote "
                      placeholder="Escribir una observacion..."></textarea>
                <button style="margin-top: 10px; text-align: center !important;" data-toggle="tooltip"
                        data-placement="top" title="Agregar comentario" type="submit"
                        class="btn btn-success">
                    <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Agregar observación
                </button>
            </form>
        </div>
        <div v-for="(observation,index) in descriptions" class="feed-element">
            <div class="media-body">
                <small class="text-muted">{{observation.created_at}}</small>
                <div v-if="editIndex != index" class="well" style="font-size: 14px;"
                     v-html="observation.observations">

                </div>

                <div v-else>
                    <textarea style="text-align: justify;" id="observationEdit"
                              class="form-control summernote observationEdit"
                              v-model="descriptionUpdate"
                              rows="3">{{descriptionUpdate}}
                    </textarea>
                </div>
                <div class="actions">
                    <div class="btn-group form-inline">
                        <a v-if="editIndex != index" data-toggle="tooltip" data-placement="top" title="Editar"
                           class="btn btn-xs btn-warning btn-edit"
                           @click.prevent="editObservation(observation, index)">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar
                        </a>
                        <a v-if="editIndex == index" data-toggle="tooltip" data-placement="top"
                           title="Modificar"
                           @click.prevent="updateObservation(observation)" class="btn btn-xs btn-primary">
                            <i class="fa fa-check " aria-hidden="true"></i> Guardar
                        </a>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</template>
<script>
    export default{
        props: ['license'],
        data(){
            return {
                data: new FormData(),
                description: null,
                descriptions: [],
                descriptionUpdate: null,
                editIndex: null,

            }
        },
        methods: {
            observations () {
                axios.get('/licenses/' + this.license + '/observations').then(res => {
                    this.descriptions = res.data;
                });
            },
            storeObservation() {
                if (($('.summernote').val() !== null)) {
                    this.data.append('observation', $('.summernote').val());
                    this.data.append('id', this.license);
                    let url = '/licenses/' + this.license + '/observations/store';
                    axios.post(url, this.data).then(res => {
                        this.description = null;
                        $('.summernote').summernote("code", "");
                        this.observations();
                        this.data = new FormData();
                    });
                }
            },
            chargeEditSummernote: function () {
                this.$nextTick(function () {
                    $('.observationEdit').summernote({
                        height: 100,
                        lang: 'es-ES', // default: 'en-US'
                        toolbar: [
                            ['style', ['bold', 'italic', 'underline', 'clear']],
                        ]
                    });
                })

            },
            editObservation: function (observation, index) {
                this.descriptionUpdate = observation.observations;
                this.editIndex = index;
                this.chargeEditSummernote();
            },
            updateObservation: function (observation) {
                if (($('.observationEdit').val() != null) && ($('.observationEdit').val().trim()).length > 0) {
                    axios.put('/licenses/observation/' + observation.id + '/update', {
                        "observation": $('.observationEdit').val(),
                    }).then(res => {
                        this.descriptionUpdate = null;
                        this.observations();
                        this.$nextTick(function () {
                            $('.observationEdit').summernote('destroy');
                            this.editIndex = null;

                        });
                    });
                }
            },
        },
        mounted(){
            this.observations();
            $(document).ready(function () {
                $('.summernote').summernote({
                    height: 100,
                    lang: 'es-ES', // default: 'en-US'
                    toolbar: [
                        ['style', ['bold', 'italic', 'underline', 'clear',]],
                    ]
                });

            });
        }
    }
</script>