<template>
    <div>
        <div class="form-group ">
            <input class="form-control" type="text" v-model="search" placeholder="Buscar por nombre de proyecto"/>
        </div>

        <br>
        <div v-for="pro in projects" class="row">
            <div v-for="p in pro" class="col-md-4 col-xs-12">
                <div class="contact-box well">
                    <a @click="pageUrl(p)">
                        <div class="">
                            <h3 v-if="p.name!==null" style="word-wrap: break-word !important;"><strong>{{p.name}}</strong></h3>
                            <!--<p>-->
                                <!--<i class="fa fa-calendar-o"></i> {{p.created_at}}-->
                            <!--</p>-->
                            <!--&lt;!&ndash;<p>&ndash;&gt;-->
                                <!--&lt;!&ndash;<i class="fa fa-check-circle"></i> {{p.tasks.length}}&ndash;&gt;-->
                                <!--&lt;!&ndash;Tareas</p>&ndash;&gt;-->
                            <!--<address>-->

                                <!--<b v-if="p.user!==null">Creador del proyecto: <label class="badge badge-primary">{{p.user.name}}</label></b>-->
                            <!--</address>-->
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {

        data() {
            return {
                search:null,
                projects: [],
                project: {name:null},

            }
        },
        computed: {

            groupedProjects() {
                return _.chunk(this.filteredList, 3)
                // returns a nested array:
                // [[article, article, article], [article, article, article], ...]
            },
            filteredList() {
                if(this.search!==null){
                    return this.projects.filter(project => {
                        if(project!==null){
                                return project.name.toLowerCase().includes(this.search.toLowerCase());

                        }
                    })
                }else{
                    return this.projects;
                }


            }
        },
        methods: {
            projectAll: function () {

//                if (this.area){
//                    axios.get('/projectsj/'+ this.area)
//                        .then(res => {
//
//                            this.projects = res.data;
//
//                        });
//                }else{
                    axios.get('/projectsj')
                        .then(res => {

                            this.projects = res.data;
                            console.log(this.projects);

                        });


            },
            pageUrl(p) {
                window.location.href='/areas/'+p.area.name+'/projects/'+p.id+'/tasks';
            },
        },
        mounted() {
            this.projectAll();
        }
    }
</script>