<template>
    <div >
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="hide" id="hide" value="hide"
                   v-model="checkbox_option">
            <label class="form-check-label" for="hide">
                Seleccionar usuarios que pueden visualizar la tarea
            </label>
        </div>
            <div class="form-group">
                <label class="control-label">Usuarios</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-list "></i></span>
                    <select  id="users_show" name="users_see[]" style="width: 100% !important; " class="js-states form-control bootstrap-select " v-model="usersSelecteds" multiple>
                        <option v-for="option in users" v-bind:value="option.id">
                            {{ option.name }}
                        </option>
                    </select>

                </div>
        </div>
    </div>
</template>

<script>

    export default {
        data() {
            return {
                checkbox_option: false,
                usersSelecteds:[],
                users : [],
            }
        },
        methods: {

            usersAll: function(){
                axios.get('/usersj')
                    .then(res => {
                        this.users = res.data;
                    });
            }

        },
        mounted() {
            this.usersAll();
        }
    }
</script>
