<template>
    <div class="container">
        <div class="col-md-4">

            <div class="form-check">
                <input class="form-check-input" type="radio" name="typeUser[]" id="all" value="all"
                       v-model="selectedOption" v-on:change="changeAll()">
                <label class="form-check-label" for="all">
                    Enviar a todos los usuarios
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="typeUser[]" id="area_user" value="area_user"
                       v-model="selectedOption" v-on:change="changeAreaUser()">
                <label class="form-check-label" for="area_user">
                    Enviar a usuarios de un área específica
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="typeUser[]" id="any_user" value="any_user"
                       v-model="selectedOption" v-on:change="changeUsers()">
                <label class="form-check-label" for="any_user">
                    Enviar a usuarios seleccionados
                </label>
            </div>
        </div>

        <div class="col-md-4" v-show="openArea">
            <div class="form-group">
                <label class="control-label">Area</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-list "></i></span>
                    <select  id="area" name="area" class="form-control bootstrap-select" v-model="selectedArea" v-on:change="usersForArea(selectedArea)">
                        <option value="" selected="">-- Seleccionar area--</option>
                        <option v-for="option in areas" v-bind:value="option.name">
                            {{ option.name }}
                        </option>
                    </select>

                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Usuarios</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-list "></i></span>
                    <select  id="user_select" name="user_select[]" style="width: 100% !important; " class="form-control bootstrap-select " v-model="selectedUsers" multiple>
                        <option v-for="option in users" v-bind:value="option.id">
                            {{ option.name }}
                        </option>
                    </select>

                </div>
            </div>
        </div>
        <div class="col-md-4" v-show="openAllUser">

            <div class="form-group">
                <label class="control-label">Usuarios</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-list "></i></span>
                    <!--<input type="hidden" name="person_id" v-model="selectedPerson.id">-->
                    <!--<v-select  v-model="selectedPerson"   label="identification"  :options="persons" placeholder="Seleccionar"></v-select>-->
                    <select  id="user_all" name="user_all[]" style="width: 100% !important; " class="js-states form-control bootstrap-select " v-model="selectedAllUsers" multiple>
                        <option v-for="option in users_all" v-bind:value="option.id">
                            {{ option.name }}
                        </option>
                    </select>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                selectedOption: "",
                selectedArea:"",
                selectedUsers:[],
                openArea: false,
                openAllUser: false,
                selectedAllUsers:[],
                users: [],
                users_all: [],
                areas:[]
            }
        },
        methods: {

            changeAreaUser: function () {
                this.openArea = true;
                this.openAllUser = false;
                console.log(this.selectedOption);
                this.areas = [];
                axios.get('/areasj')
                    .then(res => {
                        this.areas = res.data;
                        this.selectedUsers =[];

                    });
            },
            changeUsers: function () {
                this.openArea = false;
                this.openAllUser = true;
                this.usersAll();

            },
            changeAll: function () {
                this.openArea = false;
                this.openAllUser = false;
            },
            usersForArea: function(area){
                this.users = [];
                axios.get('/areas/'+area+'/usersj')
                    .then(res => {

                        this.users = res.data;
                    });
            },
            usersAll: function(){
                this.users_all = [];
                axios.get('/usersj')
                    .then(res => {
                        this.users_all = res.data;
                    });
            }

        },


        mounted() {
        }
    }
</script>
