<template>
    <div>
        <div class="col-xs-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                        Nueva etiqueta
                    </h5>
                </div>
                <div class="ibox-content">
                    <form v-on:submit.prevent="storeTag" id="frmCreateTag" method="post">
                        <input type="hidden" v-model="tag_id" name="tag_id"/>

                        <input type="hidden" v-model="index" name="update"/>
                        <div class="form-group">
                            <label>Nombre</label>
                            <input class="form-control" name="name" id="name" v-model="name"/>
                        </div>
                        <div class="form-group">
                            <label>Color</label>
                            <compact-picker  v-model="color" />
                        </div>
                        <button data-toggle="tooltip" data-placement="top" title="Guardar" type="submit"
                                class="btn btn-default">
                            <i class="fa fa-save" aria-hidden="true"></i>
                            Guardar
                        </button>
                    </form>
                </div>
            </div>
        </div>


        <div class="col-xs-6">

            <div class="ibox float-e-margins">
                <div class="ibox-content">

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Color</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(tag,index) in tags" @click.prevent="editTag(tag, index)"  v-bind:value="tag.name">
                        <td>{{tag.name}}</td>
                        <td><i class="fa fa-circle fa-3x" v-bind:style="{ color: tag.color }"></i></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import { Photoshop,Chrome,Compact } from 'vue-color'

    export default {

        data() {
            return {
                tags: [],
                name: "",
                color: "",
                index: "",
                tag_id: "",

            }
        },
        methods: {

            tagAll: function () {
                axios.get('/tags/allTags')
                    .then(res => {
                        this.tags = res.data;
                    });
            },
            storeTag  () {
                if ((this.name !== null && this.index === null && (this.name).trim()).length > 0 && this.color !== null) {
                    axios.post('/tags', {name:this.name, color:this.color['hex']}).then(res => {
                        this.name = null;
                        this.color = null;
                        this.tagAll();
                    });
                }else if( this.index !== null){
                    this.updateTag(this.tag_id)
                }
            },
            updateTag: function (id) {
                axios.put('/tags/'+ id+'/update' , {name:this.name, color: this.color['hex']}).then(res => {
                    this.name = "";
                    this.color = "";
                    this.tagAll();
                });
            },
            editTag: function (tag, index) {
                this.name = tag.name;
                this.color = tag.color;
                this.index = index;
                this.tag_id = tag.id
            },

        },
        components: {

            'photoshop-picker': Photoshop,
            'chrome-picker': Chrome,
            'compact-picker': Compact,

        },

        mounted() {
            this.tagAll();
        }
    }
</script>
