<template>
    <div align="center">
        <div class="form-group">
            <span style="margin-top: -5px;" class="btn btn-default btn-file pull-left"><span class="fileinput-new"><i class="fa fa-clipboard"></i> Adjuntar archivos</span><input
                    type="file" multiple="multiple" id="attachments" @change="uploadFieldChange"></span>
            <div class="col-md-12">


                <div class="file-box" v-cloak v-for="(attachment, index) in attachments">
                    <div class="file">
                        <span class="corner"></span>
                        <div>
                            <div class="image text-center">
                                <i class="fa fa-file fa-5x"
                                   style="padding:10px;color:black;width: 70px;height: 72px;text-align: center;"></i>                            </div>

                            <div class="file-name">
                                {{attachment.name}}
                                <br>
                                <button class="btn btn-block btn-danger" style="background: red; cursor: pointer;"
                                        @click.prevent="removeAttachment(attachment)"> Eliminar
                                </button>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <br><br>
    </div>
</template>
<script>
    export default {
        props: [
            'settings',
            'attachments',
            'data',

        ],
        data(){
            return {
                "url":"",
                "file":"",
            }
        },
        methods: {

            removeAttachment(attachment) {
                this.attachments.splice(this.attachments.indexOf(attachment),1);
            },
            uploadFieldChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                for (var i = files.length - 1; i >= 0; i--) {
                    this.attachments.push(files[i]);

                }
                document.getElementById("attachments").value = [];
            },
        }
    }
</script>
